<h3>Add Entry</h3>
<div class="row">
    <form action="/entries" method="POST" class="col s12">

        <div class="row">
            <div class="input-field">
                <input type="text" id="date" class="datepicker">
                <label for="date">Date</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <textarea id="body" class="materialize-textarea"></textarea>
                <label for="body">Notes</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="private" selected>Private</option>
                    <option value="public">Public</option>
                </select>
                <label for="status">Visibility</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>
