<h3>Edit Entry</h3>
<div class="row">
    <form action="/entries/{{entry._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">

        <div class="row">
            <div class="input-field">
                <input type="text" id="date" name="date" class="datepicker">
                <label for="date">Date</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <textarea id="dateval" class="materialize-textarea">{{entry.date}}</textarea>
                <label for="dateval">Saved Date Value</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <textarea id="notes" class="materialize-textarea">{{entry.notes}}</textarea>
                <label for="notes">Notes</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="visibility" name="visibility">
                    {{#select entry.visibility}}
                    <option value="private" selected>Private</option>
                    <option value="public">Public</option>
                    {{/select}}
                </select>
                <label for="visibility">Visibility</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>

    <script>
        // set the value in the datepicker
        document.addEventListener('DOMContentLoaded', function() {
            const dateValue = new Date({{entry.date}};
            let options = {
                defaultDate: dateValue,
                setDefaultDate: true
            };
            let elems = document.querySelector('#date');
            let instance = M.Datepicker.init(elems, options);
            instance.setDate(dateValue);
        });
    </script>

</div>
